.selected {
    background-color: #CFD8DC !important;
    
    color: white;
}

.menulist {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.menulist li {
    text-shadow: 2px 3px 5px #000;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #7F5934;
    padding: .3em 0;
    height: 2.0em;
    font-size: 1.15em;
    color: #DEBF81;
}

.sidebar {
    height: 100%;
}

.menulist li div {
    text-align: center;
}

.menulist li.selected {
    background-color: #83AC3E !important;
    color: #DEBF81;
    cursor: default;
    text-shadow: 0px 0px 0px #000;
}

.menulist li.selected:hover {
    background-color: #DCB37A !important;
    color: #DEBF81;
    cursor: default;
}

.menulist li.unselected:hover {
    color: #DEBF81;
    background-color: #CCA36A;
    left: .1em;
}

.menulist .text {
    position: relative;
    top: -3px;
}

.menuupper {
    height: 5em;
}