.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.menulist {
    margin: 0;
    /*margin: 0 0 auto 0;*/
    list-style-type: none;
    padding: 0;
    width: 100%;
    /*overflow: hidden;*/
}

.menulist li {
    cursor: pointer;
    position: relative;
    /*margin: 0 auto;*/
    left: 0;
    background-color: #CFD8DC;
    /*margin: .5em;*/
    padding: .3em 0;
    height: 1.6em;
    color: white;
    /*border-radius: 0px;*/
}

.sidebar {
    height: 100%;
}

.menulist li div {
    text-align: center;
    /*margin: auto auto;*/
}

.menulist li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.menulist li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.menulist .text {
    position: relative;
    top: -3px;
}

.menuupper {
    height: 20px;
}

.menufooter {
    height: 100%;
}


/*.menulist .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}*/