node_modules
DS_Store
.idea/angular.iml
.idea/modules.xml
.idea/typescript-compiler.xml
.idea/workspace.xml
src/app/app.component.js
src/app/app.component.js.map
src/app/app.component.spec.js
src/app/app.component.spec.js.map
src/app/app.module.js
src/app/app.module.js.map
src/app/components/sidemenu/sidemenu.js
src/app/components/sidemenu/sidemenu.js.map
src/app/components/sidenav/menuitem.js
src/app/components/sidenav/menuitem.js.map
src/app/components/sidenav/sidenav.component.js
src/app/components/sidenav/sidenav.component.js.map
src/main.js
src/main.js.map
src/polyfills.js
src/polyfills.js.map
src/vendor.js
src/vendor.js.map