ul > li > a {
    text-shadow: 2px 3px 5px #000;
    cursor: pointer;
    background-color: #7F5934;
    color: #DEBF81;
}

ul li.selected {
    background-color: #83AC3E !important;
    color: #DEBF81;
    cursor: default;
    text-shadow: 0px 0px 0px #000;
}

ul li.selected:hover {
    background-color: #DCB37A !important;
    color: #DEBF81;
    cursor: default;
}

ul li.unselected:hover {
    color: #DEBF81;
    background-color: #CCA36A;
}