.wrap {
    height: 100%;
}

.parent {
    height: calc(100% - 30px);
}

.top {
    height: 80px;
    background-color: #CFD8DC;
    text-align: center;
    color: #fff;
}

.title {
    text-shadow: 2px 3px 5px #000;
    position: relative;
    /*top: 50%;*/
    margin: 0px;
    /*transform: translateY(-50%);*/
    overflow: hidden;
    height: 80px;
    line-height: 80px;
}

.bottom {
    height: 30px;
    float: bottom;
    background-color: #CFD8DC;
}

.license {
    text-align: center;
    margin: 0px;
    color: white;
    position: relative;
    top: 50%;
    margin: 0px;
    transform: translateY(-50%);
}

.middle {
    position: relative;
    height: calc(100% - 80px);
    /*background-color: #C0D0D0;*/
    /*overflow-y: auto;*/
}

.left {
    width: 130px;
    height: 100%;
    background-color: #C0D0D0;
}

.content {
    /*height: 100%;*/
    width: calc(100% - 130px);
    position: absolute;
    right: 0px;
    top: 0px;
    overflow-y: auto;
}