body {
    width: 100%;
    height: 100%;
    margin: 1px 2px 3px 4px;
    padding: 0px;
}


main {
    /*padding: 1em;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    text-align: center;

            width: 100%;
            height: 100%;
    /*margin-top: 50px;*/
    /*display: block;*/
}



/*
#wrap {
    overflow: hidden; *zoom: 1;
}
#content ,#sidebar {
  background-color: #eee; 
}
#sidebar {
  float: right; width: 300px;
}
#content {
  margin-right: 310px;
}
#footer {background-color: #f00;color:#fff; margin-top: 1em}*/


/*;height:200px;width:100px;float:left;*/

.parent {
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 100%;
}

.top {
    height: 120px;
    background-color: #CFD8DC;
    text-align: center;
    color: #fff;

    /*padding: 2% 0 0 0;*/
    /*margin: 10px 9px 8px 7px;*/
}

.title {
    position: relative; /*脱离文档流*/
    top: 50%; /*偏移*/
    transform: translateY(-50%);
}

.bottom {
    height: 50px;
    float: bottom;
}

.middle {
    /*flex: 1;*/
    /*display: flex;*/
    height: 100%;
}

.left {
    width: 200px;
    /*height: 800px;*/
    height: 100%;
    /*background-color: #E9E9E9;*/
    background-color: #C0D0D0;
    /*float: left;*/
}

.right {
    /*flex: 1;*/
    /*overflow: auto;*/
    height: 100%;
}