main {
    /*padding: 1em;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    text-align: center;
    /*margin-top: 50px;*/
    /*display: block;*/
}


/*
#wrap {
    overflow: hidden; *zoom: 1;
}
#content ,#sidebar {
  background-color: #eee; 
}
#sidebar {
  float: right; width: 300px;
}
#content {
  margin-right: 310px;
}
#footer {background-color: #f00;color:#fff; margin-top: 1em}*/


/*;height:200px;width:100px;float:left;*/

.parent {
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 100%;
}

.top {
    height: 120px;
    background-color: #EEE;
    text-align: center;
    color: #333;
    padding: 2% 0 0 0;
    /*margin: 10px 9px 8px 7px;*/
}

.bottom {
    height: 50px;
    float: bottom;
}

.middle {
    /*flex: 1;*/
    /*display: flex;*/
    height: 100%;
}

.left {
    width: 200px;
    /*height: 800px;*/
    height: 100%;
    /*background-color: #E9E9E9;*/
    background-color: #EEE;
    /*float: left;*/
}

.right {
    /*flex: 1;*/
    /*overflow: auto;*/
    height: 100%;
}